@font-face {
	font-family: 'eldorado_stroke';
	src:url('fonts/eldorado_stroke.eot?h8v6me');
	src:url('fonts/eldorado_stroke.eot?h8v6me#iefix') format('embedded-opentype'),
		url('fonts/eldorado_stroke.ttf?h8v6me') format('truetype'),
		url('fonts/eldorado_stroke.woff?h8v6me') format('woff'),
		url('fonts/eldorado_stroke.svg?h8v6me#eldorado_stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icojam_"], [class*=" icojam_"] {
	font-family: 'eldorado_stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icojam_attach_2:before {
	content: "\e900";
}
.icojam_bag_2:before {
	content: "\e901";
}
.icojam_bus_1:before {
	content: "\e902";
}
.icojam_calendar_4:before {
	content: "\e903";
}
.icojam_comment_baloon:before {
	content: "\e904";
}
.icojam_credit_card:before {
	content: "\e905";
}
.icojam_heart:before {
	content: "\e906";
}
.icojam_helicopter:before {
	content: "\e907";
}
.icojam_home_1:before {
	content: "\e908";
}
.icojam_lamp_on:before {
	content: "\e909";
}
.icojam_leader:before {
	content: "\e90a";
}
.icojam_location_3:before {
	content: "\e90b";
}
.icojam_lock:before {
	content: "\e90c";
}
.icojam_mail:before {
	content: "\e90d";
}
.icojam_options_1:before {
	content: "\e90e";
}
.icojam_phone_2:before {
	content: "\e90f";
}
.icojam_piggy_bank:before {
	content: "\e910";
}
.icojam_plane2:before {
	content: "\e911";
}
.icojam_purse_2:before {
	content: "\e912";
}
.icojam_rocket_1:before {
	content: "\e913";
}
.icojam_ship_1:before {
	content: "\e914";
}
.icojam_shopping_cart_3:before {
	content: "\e915";
}
.icojam_sign_train_1:before {
	content: "\e916";
}
.icojam_star:before {
	content: "\e917";
}
.icojam_telephone_2:before {
	content: "\e918";
}
.icojam_time:before {
	content: "\e919";
}
.icojam_transport:before {
	content: "\e91a";
}
.icojam_truck_1:before {
	content: "\e91b";
}
.icojam_user:before {
	content: "\e91c";
}
.icojam_wizard_2:before {
	content: "\e91d";
}

