::-moz-selection 	{background:#660C47;color:#fff;}
::selection 	 		{background:#660C47;color:#fff;}

html					{-webkit-tap-highlight-color:#660C47;}

a,.more,.services.boxed .details h4 a:hover,.services.iconic h3,.content a,.description a:hover,.description a:focus,.microlocations p a:hover,.microlocations p a:focus,.hentry .entry-content h2 a:hover,.hentry .entry-content h2 a:focus,.footer .contact-data a:hover,.footer .contact-data a:focus,.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_today,.faqs .expanded,.faqs .expanded:after,.black .ico,.result li .ico 		{color:#660C47;}
.color,.pager a.current,.pager a:hover,.pager a:focus,table.hover tr:hover td,.tabs li.active a,.social li:hover,.data th,.tabs li a:hover,.tabs li a:focus,.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_default,.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_current,.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current,.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current,.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover,.slicknav_menu .slicknav_icon-bar			{background-color:#660C47 !important;}
.xdsoft_datetimepicker  .xdsoft_calendar td:hover,.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div:hover,button, input[type="button"], input[type="reset"], input[type="submit"],#wp-calendar #today,.woocommerce .woocommerce-breadcrumb,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {background:#660C47 !important;}
.btn:hover,.btn:focus, button, input[type="button"], input[type="reset"], input[type="submit"] 		{background:#660C47 !important;color:#fff !important;}
.more:after,.single a:after,.main .static-content .entry-content a:after 	{border-bottom:2px dotted #660C47;}
.tabs li.active a:after		{border-color:#660C47 transparent transparent transparent;}

blockquote:before			{position:absolute;left:20px;background:url(../images/icons-purple.png) -62px 0 no-repeat;}
.testimonials h6:before 	{position:relative;display:inline-block;left:-16px;background:url(../images/icons-purple.png) -62px 0 no-repeat;}
